body
{
  
  height: 2000px;
}
*
{
    margin: 0 ;
    padding:0 ;
}

.container
{
    width:  80%;
    margin: auto;
}

ul , a
{
    text-decoration: none;
}



.navbar
{
    background-color: rgb( 25, 111, 61 );
    position: sticky;
    top: 0;
}

.navbar .container
{
    display: flex;
    align-items: center;
}

.navbar .logo
{
    width: 30%;
}

.logo img
{
    width: 300px;
}

.navbar .list
{
    flex-grow: 1;
}


.navbar .list ul
{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 20px;
}

.navbar .list ul a
{
    color: rgb(243, 156, 18);
    font-size: 20px;
    text-transform: uppercase;
}


.titel
{
    background-color: rgb(27, 38, 49);
    height: 900px;
    display: flex ;
    justify-content: center;
    align-items: center;

}

.front
{
    border: 5px dotted;
    background-color: rgb(183, 149, 11);
    padding: 20px;
}